.dialogs {
    display: grid;
    grid-template-areas: "dialogs messages";
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;    
}

.dialogsItems {
    grid-area: dialogs;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    grid-area: messages;
}