.dialogs {
    display: grid;
    grid-template-areas: "dialogs messages";
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;    
}

.dialogsItems {
    grid-area: dialogs;
    display: grid;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    line-height: 2em;
}

.dialogsItems .active {
    font-weight: bold;
    font-size: 1.6em;
    color: black;
}

.messages {
    grid-area: messages;
    display: flex;
    align-items: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    line-height: 1.3em;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0.4em;
}